/* reset padrões */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	font-family: 'Roboto', sans-serif;
	margin-top: 115px;
	background: rgb(242, 242, 245);
	background-image: url('../imagens/mancha.png');
	background: size 50%;
	;
	background-repeat: no-repeat;
	background-position: fixed;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Fredoka One', cursive;

}

header {
	position: fixed;
	top: 0;

	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 10px 0 10px 0;
	background-color: rgb(238, 184, 37);
	box-shadow: 0px 5px 5px black;


}

img {
	width: 100%;

}

header h1 {
	width: 25%;

}

header nav {
	width: 70%;

}

ul {
	list-style-type: none;
}

nav ul {
	text-align: right;
}

nav ul li, nav ul li a {
	display: inline-block;
}

nav ul li a {
	width: fit-content;
	height: 30px;
	margin-bottom: 15px;
	padding: 20px;
	text-decoration: none;
	background-color: rgb(17, 17, 17);
	color: rgb(240, 232, 232);
	/* text-indent: 40px; */
	line-height: 30px;
}

main {
	display: flex;
	/* vh corresponde a porcentagem da tela do dispositivo 90vh e igual a 90% da altura da tela */
	min-height: 80vh;
	justify-content: space-between;
	width: 90%;
	margin: 0 auto;
	margin-top: 20px;
}

aside {
	width: 25%;
	padding: 10px;
	background-color: rgb(243 186 30);
}

footer p {
	text-align: center;

}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.75rem;
}


p {
	margin: 10px;
	font-size: 1.25rem;
	color: rgb(18, 18, 19);
}



.box {
	width: 46%;
	margin-bottom: 12px;
	padding: 10px;
	background-color: rgb(243, 186, 30);

}

.ico-logo {
	width: 40px;
	margin: 0 10px 0 0;
}

.conteudo, .conteudo-home {

	width: 70%;
	padding: 10px;
	background-color: rgb(162, 235, 235);

}


nav ul li a:hover {
	background-color: rgb(213, 216, 224);
	color: #000;
}

.box figure {
	height: 220px;
	overflow: hidden;
	border: #000 solid 1px;

}

.conteudo-home {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.modal {
	position: fixed;
	top: 20%;
	right: 0px;
	width: 200px;
	padding: 10px;
	background-color: rgb(221, 245, 84);
	border: #f90;
}

.modal .fechar {
	position: absolute;
	right: 10px;
	top: 4px;
	width: 20px;
	padding: 2px;
	background-color: #900;
	color: rgb(241, 158, 158);
	text-align: center;
}
/* Nos desktops o menu hamburguer é oculto */

.menu-hamburguer{
	display: none;
}

.menu-phone{
	display: none;
}

#img-bibliografia {
	margin-top: -240px;
}

#img-conto-como-comecei-a-escrever {
	margin-top: -400px;
}

/* layout para Tablets e celulares */
@media only screen and (max-width: 992px) {
	main {
		width: 100%;
		flex-direction: column-reverse;
		justify-content: left;
	}

	aside, .conteudo, .conteudo-home {
		width: 90%;
		margin: 0 auto;

	}

	nav {
		display: none;
	}

	header h1 {
		width: 60%;
		font-size: 1rem;
	}

	.menu-hamburguer{
		display: block;
		width: 40px;
		cursor: pointer;
	}

	.menu-phone{
		display: block;
		position: fixed;
		left: 0;
		top: 0;
		width: 50%;
		padding: 10px;
		background-color: #fff;
		z-index: 1000;
	}

	.menu-phone ul{
		padding: 0;
		list-style: none;
	}
	.menu-phone ul li, .menu-phone ul li a{
		display: block;
		width: 100%;
		margin: 0;
		padding: 0;
		text-align: left;
		margin-bottom: 2px;
		text-indent: 10px;
	}
	
}